<ion-view title="Histórico de Cotações" id="page6" style="background-color:#75F3A1;">
    <ion-content padding="true" class="has-header">
        <h2 id="histRicoDeCotaEs-heading2" style="color:#000000;text-align:center;">Histórico atualizado</h2>
        <form class="list">
            <label class="item item-select" name="typeValue">
                <span class="input-label">Mostrar</span>
                <select>
                    <option>bid</option>
                    <option>low</option>
                    <option>high</option>
                </select>
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Valor (bid)</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>U$ 3,5
                        <span class="item-note">12/04 - 14h</span>
                    </ion-item>
                    <ion-item>U$ 3,48
                        <span class="item-note">12/04 - 15h</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Maior valor (high)</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>U$ 3,5
                        <span class="item-note">12/04 - 14h</span>
                    </ion-item>
                    <ion-item>U$ 3,48
                        <span class="item-note">12/04 - 15h</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Menor valor (low)</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>U$ 3,5
                        <span class="item-note">12/04 - 14h</span>
                    </ion-item>
                    <ion-item>U$ 3,48
                        <span class="item-note">12/04 - 15h</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>