<ion-view title="Histórico de Cotações" id="page6" style="background-color:#75F3A1;">
    <ion-content padding="true" class="has-header">
        <h2 id="histRicoDeCotaEs-heading2" style="color:#000000;text-align:center;">Histórico atualizado</h2>
        <form class="list">
            <label class="item item-select" name="typeValue">
                <span class="input-label">Mostrar</span>
                <select ng-model="myDropDown">
                    <option ng-binding="bid" selected>bid</option>
                    <option ng-binding="low">low</option>
                    <option ng-binding="high" selected>high</option>
                </select>
            </label>
        </form>
        <div class="list card" ng-show="myDropDown=='bid'">
            <div class="item item-divider">Valor (bid)</div>
            <div class="item item-body">
                <ion-list ng-repeat="data in datas">
                    <ion-item>R${{data.bid}}
                        <span class="item-note">{{data.create_date | date:'dd/MM - HH:mm:ss'}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card" ng-show="myDropDown=='high'">
            <div class="item item-divider">Maior valor (high)</div>
            <div class="item item-body">
                <ion-list ng-repeat="data in datas">
                        <ion-item>R${{data.high}}
                        <span class="item-note">{{data.create_date | date:'dd/MM - HH:mm:ss '}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card" ng-show="myDropDown=='low'">
            <div class="item item-divider">Menor valor (low)</div>
            <div class="item item-body">
                <ion-list ng-repeat="data in datas">
                        <ion-item>R${{data.low}}
                        <span class="item-note">{{data.create_date | date:'dd/MM - HH:mm:ss'}}{{data.hora}}</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>