<ion-view title="Histórico de Médias" id="page7" style="background-color:#75F3A1;">
    <ion-content padding="true" class="has-header">
        <h2 id="histRicoDeMDias-heading3" style="color:#000000;text-align:center;">Histórico atualizado</h2>
        <div class="list card">
            <div class="item item-divider">Médias diárias</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>U$ 3,5
                        <span class="item-note">12/04</span>
                    </ion-item>
                    <ion-item>U$ 3,48
                        <span class="item-note">13/04</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>