<ion-view title="Histórico de Médias" id="page7" style="background-color:#75F3A1;">
    <ion-content padding="true" class="has-header">
        <h2 id="histRicoDeMDias-heading3" style="color:#000000;text-align:center;">Histórico atualizado</h2>
        <div class="list card">
            <div class="item item-divider">Médias diárias <span style="float:right; margin-right:15px">Data</span></div>
            <div class="item item-body">
                <ion-list ng-repeat="data in datas">
                    <ion-item>R${{data.average}}
                        <span class="item-note">{{data.day | date:'dd/MM'}}</span>
                    </ion-item>
                   
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>