<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar- bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu">
        <ion-header-bar class="bar-dark">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item class="item-icon-left dark" ui-sref="menu.notifications" menu-close="">
                    <i class="icon ion-ios-bell"></i>Notificações <span class="badge badge-assertive">0</span></ion-item>
                <ion-item class="item-icon-left dark" ui-sref="menu.informations" menu-close="">
                    <i class="icon ion-pricetags"></i>Informações</ion-item>
                <ion-item class="item-icon-left dark" ui-sref="menu.historicQuotations" menu-close="">
                    <i class="icon ion-ios-bookmarks"></i>Histórico de Cotações</ion-item>
                <ion-item class="item-icon-left dark" ui-sref="menu.historicAverages" menu-close="">
                    <i class="icon ion-pie-graph"></i>Histórico de médias</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>