<ion-view title="Notificações" id="page4" style="background-color:#75F3A1;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left balanced">
                <i class="icon ion-arrow-graph-up-right"></i>Bid acima da média
                <span class="item-note">12/04-14h</span>
            </ion-item>
            <ion-item class="item-icon-left assertive">
                <i class="icon ion-arrow-graph-down-left"></i>Bid abaixo da média
                <span class="item-note">12/04-16h</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>